.shop-container{
    display: flex;
}
.product-container{
    width: 68%;
    margin-left: 15%;
    margin-right: 5px;
    border-right: 1px solid lightgray;
}
.cart-container{
    text-align: center;
    margin: 0 28px;
}
