.placeBtn{
    width: 170px;
    height: 30px;
    font-size: 15px;
    background: #fdbd46;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.placeBtn:hover{
    background: #fda500;
}