.product__link,
.product__link:hover {
  color: #000 !important;
  text-decoration: none;
}

.product__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.cartBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.main-button {
  background-color: goldenrod;
  width: 150px;
  height: 30px;
  border: 1px solid darkgray;
  border-radius: 5px;
  cursor: pointer;
}

.star {
  color: #f0cc00;
}
